<!DOCTYPE html>
<html>
  <head>
    <title>WebSocket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    </head>

  <body>
    <div class="container" id="simple_content">
      <header>
        <h1>WebSocket</h1>
      </header>
      <div id="contents">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
